body, html {
    height: 100%;
  }
  .background {
    /* The image used */
    background-image: ../img/bodybg.jpg;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* #twitterAPI {
    max-height: 50px;
    max-width: 100px;
} */